//External CSS - define the style for many HTML pages


body {

    background-color: white;
		width:70%;
}

h1 {
    color:rgb(90, 90, 90);
		text-align:center;
		font-family:"Georgia", Times New Roman;
}

p {
    color: black;
		font-family: "Georgia", Times New Roman;
		//defines a margin/space outside the border;
		margin: 12px;
		padding-left:10%;
		padding-right:10%;
		line-height: 1.5;
}

ul {
	  padding-left: 13%;
		padding-right: 10%;
		font-family: "Georgia", Times New Roman;
		line-height: 1.5;
}
	
hr {
  margin-left: 10%;
  margin-right: 10%;
}


/*
 * HTML Link Colors
 */
a:link {
    color: red; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

/*
* Image Center
*/
.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// -- The id Attribute --
//To define a specific style for one special element, add an id attribute to the element
// <p id="p01">I am different</p>
//then define a style for the element with the specific id
#p01 {
    color: blue;
}

// -- The class Attribute --
//To define a style for a special type of elements, add a `class` attribute to the element:
// <p class="error">I am different</p>
//then define a style for the elements with the specific class:
p.error {
    color: red;
}

ul.navigation_menu {
	  list-style-type: none;
    margin: 0;
    padding-left: 10%;
    overflow: hidden;
    background-color: white; //#333333;
}

li.navigation_menu {
    float: left;
}

li.navigation_menu a {
	  font-weight: bold;
    display: block;
    color: black;
    text-align: center;
		font-size:18px;
    padding: 16px;
    text-decoration: none;
}

li.navigation_menu a:hover {
		background-color: Lightgray;
		text-decoration: underline;
		//text-decoration-color: red;
}


